.container {
    /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  margin: 0;
  min-height: 91vh;
  background-color: black;
  color: #fa4141;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(50%, auto));
    max-width: 300%;
    /* width: var(--max-width); */
    font-family: OCR A Std, monospace;
}

.card {
    padding: 2.1rem 1.2rem;
    max-width: 100%;
    border-radius: 10px;
    /* background: rgba(var(--card-rgb), 0); */
    border: 2px solid #f57e76;
    transition: background 400ms, border 400ms;
    margin: 1rem;
}

.card span {
    display: inline-block;
    transition: transform 400ms;
}
.card:hover {
    background: #fa4141;
    border: 2px solid rgba(var(--card-border-rgb), 0.15);
    color: black;
}
.logo {
    margin: 2rem;
    padding: 2rem;
    position: relative;
    border-radius: 8px;
}
.imageContainer {
    gap: 2rem;
    border: 1px solid #fa4141;
}
.card:hover span {
    transform: translateX(10px);
  }
